<!DOCTYPE html>
<html lang="en">
<head>
    <title>Acid Unit | Contact</title>
    <meta name="description" content="Acid Unit develops high-quality open-source extensions for Adobe Commerce (Magento), enhancing performance, analytics, and user experience. Explore our reliable, well-documented solutions designed for developers and merchants alike.">
    <meta name="keywords" content="Adobe Commerce, Magento 2, Magento, Extensions, Modules, Open Source">

    <meta property="og:title" content="Acid Unit | Adobe Commerce (Magento) extensions" />
    <meta property="og:description" content="Acid Unit develops high-quality open-source extensions for Adobe Commerce (Magento), enhancing performance, analytics, and user experience. Explore our reliable, well-documented solutions designed for developers and merchants alike." />
    {{> head}}
</head>
<body>
{{> nav}}
<div class="content contact">
    <h1>Contact</h1>
    <ul>
        <li><a href="mailto:{{> email}}">{{> email}}</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/company/acid-unit/">https://www.linkedin.com/company/acid-unit/</a></li>
    </ul>
</div>
{{> scripts}}
</body>
</html>
