<!DOCTYPE html>
<html lang="en">
<head>
    <title>Acid Unit | Adobe Commerce (Magento) extensions</title>
    <meta name="description" content="Acid Unit develops high-quality open-source extensions for Adobe Commerce (Magento), enhancing performance, analytics, and user experience. Explore our reliable, well-documented solutions designed for developers and merchants alike.">
    <meta name="keywords" content="Adobe Commerce, Magento 2, Magento, Extensions, Modules, Open Source">

    <meta property="og:title" content="Acid Unit | Adobe Commerce (Magento) extensions" />
    <meta property="og:description" content="Acid Unit develops high-quality open-source extensions for Adobe Commerce (Magento), enhancing performance, analytics, and user experience. Explore our reliable, well-documented solutions designed for developers and merchants alike." />
    {{> head}}
</head>
<body>
{{> nav}}
<div class="acid">
    <div class="unit">
        <div class="intro">
            <div class="title-wrapper">
                <div class="flask-wrapper">
                    <span class="flask">🧪</span>
                </div>
                <h1 class="title">Acid Unit</h1>
            </div>
            <span class="divider"></span>
            <div class="description">
                <span><span class="bar">|</span><span class="magento">Magento 2</span></span>
                <span><span>solutions done right</span></span>
            </div>
        </div>

        <span class="divider"></span>

        <nav class="list">
            <ul>
                <li><a target="_blank" href="https://github.com/acid-unit/module-admin">Admin Tweaks</a></li>
                <li><a target="_blank" href="https://github.com/acid-unit/module-google-tag-manager">Google Tag Manager</a></li>
                <li><a target="_blank" href="https://github.com/acid-unit/theme-blank-rtl">Blank Theme RTL</a></li>
                <li><a target="_blank" href="https://github.com/acid-unit/theme-luma-rtl">Luma Theme RTL</a></li>
            </ul>
        </nav>
    </div>
</div>
{{> scripts}}
</body>
</html>
