<!DOCTYPE html>
<html lang="en">
<head>
    <title>Acid Unit | Open Source Adobe Commerce (Magento) extensions</title>
    <meta name="description" content="Acid Unit develops high-quality open-source extensions for Adobe Commerce (Magento), enhancing performance, analytics, and user experience. Explore our reliable, well-documented solutions designed for developers and merchants alike.">
    <meta name="keywords" content="Adobe Commerce, Magento 2, Magento, Extensions, Modules, Open Source">

    <meta property="og:title" content="Acid Unit | Open Source Adobe Commerce (Magento) extensions" />
    <meta property="og:description" content="Acid Unit develops high-quality open-source extensions for Adobe Commerce (Magento), enhancing performance, analytics, and user experience. Explore our reliable, well-documented solutions designed for developers and merchants alike." />
    {{> head}}
</head>
<body>
{{> nav}}
{{> acid-unit}}
{{> scripts}}
</body>
</html>
