<div class="acid">
    <div class="unit">
        <div class="intro">
            <div class="title-wrapper">
                <div class="flask-wrapper">
                    <span class="flask">🧪</span>
                </div>
                <h1 class="title">Acid Unit</h1>
            </div>
            <span class="divider"></span>
            <div class="description">
                <span><span>Open Source</span></span>
                <span><span class="bar">|</span><span class="magento">Magento 2</span></span>
                <span><span>extensions done right</span></span>
            </div>
        </div>

        <span class="divider"></span>

        <nav class="list">
            <ul>
                <li><a target="_blank" href="https://github.com/acid-unit/module-admin">Admin Tweaks</a></li>
                <li><a target="_blank" href="https://github.com/acid-unit/module-google-tag-manager">Google Tag Manager</a></li>
                <li><a target="_blank" href="https://github.com/acid-unit/theme-blank-rtl">Blank Theme RTL</a></li>
                <li><a target="_blank" href="https://github.com/acid-unit/theme-luma-rtl">Luma Theme RTL</a></li>
            </ul>
        </nav>
    </div>
</div>